body {
  background-color: #d8dee9 !important;
}

.resume {
    height: 85.0vh;
    width: 80vw;
    margin-right: 10%;
    margin-left: 10%;
    background-color: #eceff4;
    border-radius: 16px;
    text-align: center;
}

#resume {
  height: 85.0vh;
  margin-bottom: 5vh;
}