{% load static %}
<DOCTYPE html>
    <html lang="en">
<!-- desktop resume.html -->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Alaric Hartsock Resume</title>
        <!-- Custom CSS-->
        <link rel="stylesheet" type="text/css" href="{% static "css/resume.css" %}">

        <!--Roboto font CSS -->
        <link href='https://fonts.googleapis.com/css2?family=Roboto&display=swap' rel='stylesheet' type='text/css'>

        <!-- Bootstrap CSS-->
        <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
            integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">

    </head>

    <body>
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <a href="../" class="navbar-brand">
                Alaric Hartsock
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class=" collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ml-auto">
                    <ul class="navbar-nav ml-auto"></ul>
                    <li class="nav-item">
                        <a class="nav-link" href="../">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../resume">Resume</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../portfolio">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../contact">Contact</a>
                    </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="expand">
            <div class="d-flex flex-column">
                <div class="content" style="height: 10vh;"> 
                    <h1 class="text" data-text="Resume">Resume</h1>
                </div>
                <div class="content2">
                    <h4 id="before">Home /</h4>
                    <h4 id="typing"></h4>
                    <h4 id="afterquote"> </h4>
                </div>
            </div>
        </div>
        <div class="resume">
            <div class="aboutme">
                <h5><strong>About me</strong></h5><br>
                <h6>Hello! I'm Alaric. I'm a computer science student studying at Oregon State University interested in
                    software development and computer security.</h6>
                <ul class="aboutme-list">
                    <li><strong>Age:</strong> 20</li>
                    <li><strong>Residence:</strong> Oregon USA</li>
                    <li><strong>Freelance:</strong> Available</li>
                    <li><strong>Email:</strong> <a href="mailto:alaric.hartsock@yahoo.com?subject=consultation">Business
                            email</a></li>
                </ul>
            </div>
            <h6><a href="../../assets/documents/Resume.pdf" download>Download text resume</a></h6>
            <div class="services">
                <h5>Services</h5>
                <ul class="services-list">
                    <li>
                        <strong>Web development</strong><br>
                        <p>Modern and mobile-ready website that will help you reach all of your marketing.</p>
                    </li>
                    <li>
                        <strong>Computer security</strong><br>
                        <p>Penetration testing and network hardening to keep your infastructure safe.</p>
                    </li>
                    <li>
                        <strong>Software development</strong><br>
                        <p>Software development from simple C programs to enterprise level object oriented languages</p>
                    </li>
                    <li>
                        <strong>App development</strong><br>
                        <p>Native app cross platform app development using Flutter is available</p>
                    </li>
                </ul>
                <div class="service">
                </div>
            </div>

            <div class="skills">
                <h5>Skills</h5>
                <ul class="skills-list">
                    <li>
                        <strong>GNU/Linux</strong><br>
                        <p>Familiar with GNU/Linux and Unix type operating systems, package managers, and commands.</p>
                    </li>
                    <li>
                        <strong>Computer security</strong><br>
                        <p>Experienced with penetration testing and network hardening</p>
                    </li>
                    <li>
                        <strong>Software development</strong><br>
                        <p>Proficient with Python, Dart, Javascript, C, and Java.</p>
                    </li>
                    <li>
                        <strong>Flutter</strong><br>
                        <p>Familiar and comfortable with Flutter, a native cross platform app development framework</p>
                    </li>
                    <li>
                        <strong>Web maintenance</strong><br>
                        <p>Comfortable with DNS, hosting providers, HTTPS, and most other topics related to website
                            upkeep.</p>
                    </li>
                </ul>
                <div class="service">
                </div>
            </div>

        </div>

        <script>
            let count = 0;
            let index = 0;
            let letter = '';
            let direction = true;

            var text = [
                "Resume",
            ];

            function type() {

                setTimeout(type, 60);
                if (count === 0) {
                    direction = true;
                }
                if (letter.length >= text[index].length) {
                    direction = false;
                }
                if (index == text.length - 1) {
                    index = 0;
                }
                currentText = text[index];

                if (direction) {
                    letter = currentText.slice(0, count++);
                    document.querySelector('#typing').textContent = letter;
                } else {

                }

                if (count === 0) {
                    index++;
                }
            }

            type();
        </script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
        <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
    </body>

    </html>